		body { font-family: Arial, Helvetica, sans-serif; font-size: 11pt;  }
       	p { 	text-align: justify; margin-bottom: 4pt;  margin-top:0pt; }
        table{
          margin:4pt 0pt;
        }

      table.uk-table {
          border-collapse: collapse;
      }

      table.uk-table td {
          border: 1px solid black;
      }